#login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

body.login {
    background-color: #3b2f63;
    background-image: -webkit-radial-gradient(0% bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),-webkit-radial-gradient(50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-image: radial-gradient(at 0 bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),radial-gradient(at 50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),radial-gradient(at right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-size: auto,auto,100% 1000px,100% 1000px;
    background-repeat: no-repeat;
}

body.login div#login form#loginform {
    border-radius: 8px;
    padding: 50px 50px 50px;
}

body.login div#login form#loginform p label {
    color: #666;
    font-size: 16px;
}

body.login div#login form#loginform input#user_pass,
body.login div#login form#loginform input#user_login {
    border-radius: 4px;
}

body.login div#login form#loginform p.forgetmenot {
    margin: 10px 0;
}

.wp-core-ui .button-primary{
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.login div#login form#loginform p.submit input#wp-submit {
    width: 100%;
    border: 1px solid #563d7c;
    border-radius: 5px;
    font-size: 17px;
    color: #563d7c;
    background-color: #fff;
    text-shadow: none;
    font-size: 20px;
}

body.login div#login form#loginform p.submit input#wp-submit:hover {
    background-color: #563d7c;
    color: #ffffff;
}

p#backtoblog, 
body.login div#login p#nav {
    text-align: center;
}

p#backtoblog a, 
body.login div#login p#nav a {
    color: #fff;
    font-size: 16px;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
    height: 40px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.login #login_error {
    border-left: 4px solid #CF9795;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 0px 8px 8px 0px;
}
