/*****************************
 ~~ html specific
*****************************/

img {
    display: block;
    height: auto;
    max-width: 100%;
}

footer {
    background: #2a2730;
    padding-top: 10px;
}

/*****************************
 ~~ WordPress Config Specific
*****************************/

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

.hide-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.hide-bullets li.col-sm-4 {
    padding: 0;
}

/*****************************
 ~~ WordPress Generated Classes
*****************************/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*****************************
 ~~ Blog (home)
*****************************/

article.post {
    padding: 20px 0;
}


/*****************************
 ~~ Post Format: quote
*****************************/


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*****************************
 ~~ Post Format: image
*****************************/

.post_format-post-format-image img {
    border: 1px solid #ccc;
    padding: 0.5em 10px;
}

/*****************************
 ~~ admin
*****************************/

.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}

/*****************************
 ~~ widgets
*****************************/

.widgets {
    background: #efefef;
    margin: 15px 0 0 0;
    padding: 30px 0;
    text-align: justify;
}

.widgets h4 {
    border-bottom: solid 1px #959393;
    line-height: 50px;
}

@media (max-width: 767px) {
    .widget {
        margin: 40px 0;
    }
}

/*****************************
 ~~ widgets (calendar)
*****************************/

table#wp-calendar {
    width: 100%;
}

table#wp-calendar caption {
    font-weight: bold;
    text-align: center;
}

/*****************************
 ~~ widgets (tag cloud)
*****************************/

.tagcloud a {
    color: #563d7c;
}

.tagcloud a:hover {
    opacity: 0.8;
    text-decoration: none;
}

/*****************************
 ~~ footer (widgets)
*****************************/

#copyright p {
    color: #99979c;
}

#copyright a {
    color: white;
}

/*****************************
 ~~ 404 (error)
*****************************/

body.error404 {
    background: #563D7C;
    color: #f7f7f7;
}

/*****************************
~~ WooCommerce
*****************************/

#woocommerce {
    margin-top: 50px;
}

/*****************************
~~ WooCommerce (Catalog)
*****************************/

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 25px;
}

.col-item img {
    margin: 0 auto;
    width: 100%;
}

.col-item h3,
.col-item h5 {
    text-align: center;
}

/*****************************
~~ WooCommerce (Tabs)
*****************************/

.tabs {
    margin-top: 15px;
}

/*****************************
~~ WooCommerce (Site Wide Notice)
*****************************/

p.demo_store {
    background: #2a2730;
    color: #f7f7f7;
    margin: 0px 0;
    padding: 10px 0;
    text-align: center;
}

/*****************************
~~ Pagination
*****************************/

.page-link:hover {
    text-decoration: none;
}

.woocommerce-ordering {
    margin-bottom: 20px;
    text-align: right;
}

/*****************************
~~ Product grid
*****************************/

.card {
    border: 0;
    margin-bottom: 30px;
}

@media (max-width: 543px) {

    .card {
        padding: 20px;
    }

}

.card .alert {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0;
    background: #a94442;
    color: #fff;
    border: 0;
}

@media (max-width: 543px) {

    .card .alert {
        width: 300px;
    }

}

.card h3 {
    margin-top: 15px;
}

.price-text-color {
    font-weight: bold;
    font-size: 1.5em;
}

@media (max-width: 543px) {

    .page-title, .woocommerce-result-count {
        margin-left: 20px;
    }

    .woocommerce-ordering {
        margin-right: 20px;
    }

}

.video-wrapper {
    width: 100%;
    max-width: 720px;
    float: none;
    display: block;
    margin: 0 auto;
}

.video-wrapper .video-inner {
    width: 100%;
    padding: 0 0 56.25% 0;
    position: relative;
}

.video-wrapper .video-inner iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
