body {
    padding-top: 50px;
}

.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}

.widgets{
    background: #efefef;
    margin: 15px 0 0 0;
    padding: 30px 0;
    text-align: justify;
}

@media (max-width: 767px){
  .widget{
    margin: 40px 0;
  }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}
