/**
 * File woocommerce.css
 *
 * This is a where the woocommerce specific overrides go
 * 
 */

.woocommerce button.button.alt {
	background-color: #007bff;
}

.woocommerce button.button.alt:hover {
	background-color: #ffffff;
	color: #007bff;
}
