/**
 *******************************************************************************
 * admin/login.css 
 *******************************************************************************
 *
 * The styling for the admin login page which
 * can be found at http://<app_name>/wp-admin
 *
**/

html,
body {
    background-color: #e9ecef;
}
input[type=text], input[type=password] {
    background: #fff !important;
    border: 1px solid #DDDDDD;
}

#login {
    width: 580px;
    padding: 1% 0;
    margin: auto;
}

.login h1 a {
    background-size: 109px;
    height: 109px;
    width: 109px;
}

body.login div#login form#loginform {
    border-radius: 8px;
    padding: 40px 50px;
    text-align:center;
}

body.login div#login form#loginform p label {
    color: #989898;
    font-size:15px;
    font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;  
    font-stretch:normal;
}

body.login div#login form#loginform input#user_pass,
body.login div#login form#loginform input#user_login {
    border-radius: 4px;
    width: 280px;
    height: 48px;
}

body.login div#login form#loginform p.forgetmenot {
    margin: 10px 0;
    float: none;
}

.login #backtoblog a {
    color: #FFF;
    font-size: 13px;
}


.login #backtoblog a:hover {
    color: #fff;
}

.wp-core-ui .button-primary{
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
body.login div#login form#loginform p.submit input#wp-submit {
    width: 180px;
    height:50px;
    border-radius: 4px;
    color: #FFF;
    background-color: #8B8B8B;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 15px;
    float:none;
    margin-top:10px;
}
body.login div#login form#loginform p.submit {
    text-align:center;
}

body.login div#login form#loginform p.submit input#wp-submit:hover {
    background-color: #464442;
    color: #ffffff;
}

p#backtoblog, 
body.login div#login p#nav {
    text-align: center;
}
.forgetmenot label{
    font-size:13px !important;
}

p#backtoblog {
    margin: 0px;
    float:left;
}

p#backtoblog a, 
body.login div#login p#nav a {
    color: #696969;
    font-size: 13px;
    float:right;
}

p#backtoblog a:hover, 
body.login div#login p#nav a:hover {
    color: #FFF;
}

.wp-core-ui .button-group.button-large .button, 
.wp-core-ui .button.button-large {
    height: 40px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.login #login_error {
    border-left: 4px solid #8E8E8E;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 0px 8px 8px 0px;
}
#login_error , .login .message {
    border-left: 4px solid #8E8E8E;
}
