/**
 **********************************************
 * admin/login.css 
 ********************************************** 
 *
 * The styling for the admin login page which
 * can be found at http://<app_name>/wp-admin
 *
**/

html,
body {
    background-color: #563D7C;
}

#login {
    width: 320px;
    padding: 1% 0;
    margin: auto;
}

.login h1 a {
    background-size: 250px;
    height: 210px;
    width: 184px;
}

body.login div#login form#loginform {
    border-radius: 15px;
    padding: 40px 50px;
}

body.login div#login form#loginform p label {
    color: #666;
    font-size: 16px;
}

body.login div#login form#loginform input#user_pass,
body.login div#login form#loginform input#user_login {
    border-radius: 4px;
}

body.login div#login form#loginform p.forgetmenot {
    margin: 10px 0;
}

.login #backtoblog a {
    color: #83c373;
    font-size: 15px;
}

.login #backtoblog a:hover {
    color: #fff;
}

.wp-core-ui .button-primary{
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.login div#login form#loginform p.submit input#wp-submit {
    width: 100%;
    border: 1px solid #563d7c;
    border-radius: 5px;
    color: #563d7c;
    background-color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 20px;
}

body.login div#login form#loginform p.submit input#wp-submit:hover {
    background-color: #563d7c;
    color: #ffffff;
}

p#backtoblog, 
body.login div#login p#nav {
    text-align: center;
}

p#backtoblog {
    margin: 5px;
}

p#backtoblog a, 
body.login div#login p#nav a {
    color: #fff;
    font-size: 16px;
}

p#backtoblog a:hover, 
body.login div#login p#nav a:hover {
    color: #83c373;
}

.wp-core-ui .button-group.button-large .button, 
.wp-core-ui .button.button-large {
    height: 40px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.login #login_error {
    border-left: 4px solid #CF9795;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 0px 8px 8px 0px;
}
