body {
    padding-top: 50px;
}

body.error404{
    background-color: #3b2f63;
    background-image: -webkit-radial-gradient(0% bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),-webkit-radial-gradient(50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-image: radial-gradient(at 0 bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),radial-gradient(at 50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),radial-gradient(at right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-size: auto,auto,100% 1000px,100% 1000px;
    background-repeat: no-repeat;
}

.widgets{
    background: #efefef;
    margin: 40px 0 0 0;
    padding: 25px 0;
}

a.navbar-brand{
    font-weight: 500
}

.navbar{
    border: none;
}

.page-header{
    margin: 40px 0 20px;
}

a.post-title{
    color: #303030;
}

.admin-bar .navbar-fixed-top {
    margin-top: 30px;
}

@media (min-width:768px) {
    .sub-menu {
        display: none;
        position: absolute;
        background: #222;
        padding: 10px 15px;
        width: 200px;       
    }

    li:hover .sub-menu {
        display: block;
    }
}

.sub-menu li {
    margin-bottom: 10px;
    list-style: none;
}

.sub-menu li:last-child {
    margin-bottom: 0;
}

.sub-menu a  {
    color: #999;
    text-decoration: none;
}

.sub-menu a:hover  {
    color: #fff;    
}   

.current-menu-item > a, .current-menu-parent > a {
    background: #000;   
}
.current-menu-parent li a {
    background: inherit;
}
.current-menu-parent .current-menu-item a {
    color: #fff;
    font-weight: bold;
}

.footer {
    background-color: #2a2730;
    padding: 50px 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.jumbotron{
    background-color: #3b2f63;
    background-image: -webkit-radial-gradient(0% bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),-webkit-radial-gradient(50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-image: radial-gradient(at 0 bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),radial-gradient(at 50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),radial-gradient(at right top,#794aa2 0,rgba(121,74,162,0) 57%);
    background-size: auto,auto,100% 1000px,100% 1000px;
    background-repeat: no-repeat;
}
