/**
 * 
 * demo.css
 *
 * These are just some basic styles to
 * get started on.
 *
**/

body {
    padding-top: 50px;
}

a.navbar-brand{
    font-weight: 500
}

.navbar{
    border: none;
}

.page-header{
    margin: 40px 0 20px;
}

a.post-title{
    color: #303030;
}

.admin-bar .navbar-fixed-top {
    margin-top: 30px;
}

@media (min-width:768px) {
    .sub-menu {
        display: none;
        position: absolute;
        background: #222;
        padding: 10px 15px;
        width: 200px;       
    }

    li:hover .sub-menu {
        display: block;
    }
}

.sub-menu li {
    margin-bottom: 10px;
    list-style: none;
}

.sub-menu li:last-child {
    margin-bottom: 0;
}

.sub-menu a  {
    color: #999;
    text-decoration: none;
}

.sub-menu a:hover  {
    color: #fff;    
}   

.current-menu-item > a, .current-menu-parent > a {
    background: #000;   
}
.current-menu-parent li a {
    background: inherit;
}
.current-menu-parent .current-menu-item a {
    color: #fff;
    font-weight: bold;
}

#sidebar { 
    margin-top: 55px;
    color: #444;
}

.sidebar h3 {
    color: #888;
}

.widget {
    margin: 10px 0 30px;
}

article.post {
    margin: 20px 0 40px;
}


@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
  }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%;
    }

    .row-offcanvas-right.active {
        right: 50%; 
    }

    .row-offcanvas-left.active {
        left: 50%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;     
    }
}

.footer {
    background-color: #2a2730;
    padding: 50px 0;
    margin: 40px 0 0 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    #copyright{
        text-align: center;
    }
}


.nocomments{
    display: none;
}

#bigbreadcrumbs{
    margin-top: 80px;
}

/*
    Comments
*/

textarea#comment{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#author, #email, #url{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-submit{
    float: right;
}


.profile {
    min-height: 355px;
    display: inline-block;
}

.commentlist{
    list-style: none;
}
